.brand_select{

    display: flex;
    flex-direction: column;
    gap: 15px;
}
.brands{
    display: flex;
    flex-direction: row;
}
.brand_scroll{
    margin-top: 10px;
    max-height: 150px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.country_scroll{
    margin-top: 10px;
    max-height: 150px;
    overflow: auto;
    display: flex;
    flex-direction: column;
  gap: 5px;
}
